@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad&family=Playwrite+US+Modern&display=swap');

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-primary {
  background-color: #150C2F;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.overlay-blur {
  position: absolute;
  inset: 0;
  background: rgba(43, 14, 103, 0.26);
  backdrop-filter: blur(10px);
  z-index: 0;
}

.header-title {
  position: relative;
  z-index: 10;
  margin: 8px 0px 0px 16px;

  padding:0px;
  font-size: 24px;
  color: white;
  font-family: 'Playwrite US Trad', serif;
}

.decor-left {
  position: absolute;
  top: 40%;
  left: 24px;
  z-index: 0;
}

.decor-right {
  position: absolute;
  top: 30%;
  right: 24px;
  z-index: 0;
}

.decor-up {
  position: absolute;
  top: -4%;
  right: 24px;
  z-index: 0;
}

.content-text {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  
  font-family: sans-serif;
}

.headline {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Playwrite US Modern', serif;
}

.subtext {
  max-width: 600px;
  margin-top: 22px;
  font-size: 18px;
  font-family:  serif;
}

.subtext-small {
  max-width: 600px;
  font-size: 16px;
  
  font-family: serif;
}

.center-star img {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0 auto;
}

.tarot-container {
  position: relative;
  width: 100%;
  height: 60vh;
  border: 2px solid transparent;
}

.tarot-img {
  position: absolute;
  width: 640px;
  left: 50%;
  transform: translateX(-53%);
  z-index: 0;
}

.gradient-blur {
  margin-top: 270px;
  height: 286px;
  background: linear-gradient(to bottom, #060318, #150C2F 100%, #07043A);
  filter: blur(20px);
  z-index: 20;
}

.star-left {
  position: absolute;
  top: 88%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.star-right {
  position: absolute;
  top: 88%;
  right: 25%;
  transform: translate(50%, -50%);
  z-index: 10;
}

.next-level-text {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  font-family: 'Playwrite US Modern', serif;
  z-index: 10;
}

.method-section {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.method-blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #060318;
  filter: blur(10px);
  z-index: 10;
}

.moon-img {
  position: relative;
  z-index: 10;
  margin-top: 80px;
}

.const-left {
  position: absolute;
  left: 0;
  z-index: 10;
}

.const-right {
  position: absolute;
  right: 8px;
  z-index: 10;
}

.method-title {
  position: relative;
  z-index: 10;
  margin-top: 48px;
  font-size: 24px;
  color: white;
  font-family: 'Playwrite US Trad', serif;
}

.method-buttons {
  position: relative;
  z-index: 10;
  margin-top: 96px;
  display: flex;
  gap: 48px;
}

.btn-method {
  color: white;
  background-color: #543FE2;
  padding: 16px 52px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  margin-bottom:20vh;
}
